
<form action="/hospital/<%= hospital._id %>?_method=PUT" method="POST">
    <p>Hospital</p>
    <div class="form-group">
	<input class="form-control" type="text" placeholder="name" name="hospital[username]" value="<%=hospital.username %>">
    </div>
    <p>Total Beds in Hospital</p>
	<div class="form-group">
			<input class="form-control" type="number" name="hospital[totalBeds]" value="<%=hospital.totalBeds %>"  min ="1" step= "1">
    </div>
    <p>Available Beds in Hospital</p>
    <div class="form-group">
        <input class="form-control" type="number" name="hospital[availableBeds]" value="<%=hospital.availableBeds %>"  min ="0" step= "1">
    </div>
    <p>Bed price</p>
    <div class="form-group">
        <input class="form-control" type="number" name="hospital[price]" value="<%=hospital.price %>"  min ="1" step= "1">
    </div>
    <p>Hospital Address</p>
	<div class="form-group">
	<input class="form-control" type="text" name="hospital[address]" value="<%=hospital.address %>">
	</div>
    
	<div class="form-group">
	<button class="btn btn-lg btn-default " >
		Submit
	</button>
	</div>
</form>