
<h1>
    <%= hospital.username %>
</h1>

<p> Total Beds in Hospital
    <%= hospital.totalBeds %>
</p>

<p>Beds Available
    <%= hospital.availableBeds %>
</p>
<p>Address:
    <%= hospital.address %>
</p>

<div class="row" style="padding: 0% 5% 0% 5%;display: flex; flex-wrap: wrap ;">
    <p>Doctors</p>
    <% hospital.Doctors.forEach(function(doctor){ %>
            <div >
                <ul>
                    <li>
                        <h3>
                            <%= doctor %>
                        </h3>
                    </li>
                </ul>
            </div>
    
    <% }); %>

</div>
<% if(currentUser && hospital.id == currentUser._id) { %>
    <a href="/hospital/<%= hospital._id %>/edit">Edit</a>
    <% } %>